#game-name {
    text-align: center;
    color: red;
    font-size: 200%;
}

.tile {
    border-radius: 4px;
    position: absolute;
}

.dice {
    border-radius: 4px;
    position: absolute;
}

#trophy {
    color : gold;
    font-size : 200%;
}

#timer {
    color: silver;
    font-size : 200%;
}

