
body {
    font-family: "Raleway", sans-serif;
    background-color: rgb(223, 219, 213);
}

#game-name {
    text-align: center;
    color: red;
    font-size: 2.5rem;
}

.tile {
    border-radius: 4px;
    position: absolute;
}

.dice {
    border-radius: 4px;
    position: absolute;
}

#button-container {
    height: 40px;
    width: 80px;
    border-radius: 10px;
    position: absolute;
    background-color: red;
    top : 80px;
    left : 300px;
}
 

.btn-start {
    margin-top: 10px;
    margin-left: 2px;
    text-transform :uppercase;
    border: 1px transparent;
    background-color: red;
    font-size: 1rem;
    font-weight: bolder;
    color: black;
}

.progress-area {
    position : absolute;
    top: 350px;
    left : 750px;

}

#trophy {
    color : gold;
    font-size : 200%;
}

#timer {
    color: silver;
    font-size : 200%;
}

